{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detailes</title>
    <link rel="stylesheet" href="{% static 'css/detailes.css' %}">
</head>
<body>

   <div class="bg10"></div>
    
    <form class="box" method="post">
    <h1>Детали заявки</h1>
    <input type="text1" name="" placeholder="Автор {{ user.fio }}">
    <input type="text1" name="" placeholder="Должность и место работы {{ user.job }}">
    <input type="text1" name="" placeholder="Тема {{ user.theme }}">


        <a href="{{ user.media }}">
          <input type="submit1" name="" value="Ссылка на работу">
        </a>


        <a href="{% url 'print' %}">
          <input type="submit2" name="" value="Оценить работу">
        </a>
    </form>
    
</body>
</html>