{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kriterii2</title>
    <link rel="stylesheet" href="{% static 'css/kriterii2.css' %}">
</head>
<body>
    <div class="bg5"></div>
    
    <div class ="text1">
    <h1>1.Четкое выражение основной идеи материала, хорошая подводка ведущего к сюжета, доказательность утверждений и выводов (0-15б)</h1>
    </div>
    <div class ="text2">
    <h1>2. Стилевое единство передачи (формат) (0-15б)</h1>
    </div>
    
    <div class ="text3">
    <h1>3. Персонифицированный подход (наличие главного персонажа) (0-20б)</h1>
   </div>
       
      <div class ="text4">
    <h1>4. Применение художественных приемов, эстетически обоснованное сочетание выразительных, изобразительных средств: слов, видеоряда, музыки, шумов (0-30б)</h1>
 </div>
      
       <div class ="text5">
    <h1>5. Качественная работа оператора (горизонтальный уровень камеры, наличие штатива в случае необходимости, наличие резкости, эффектные начальный кадр, крупные планы, финальный кадр и другое) (0-20б)</h1>
 </div>
 
 
 <div class="footer">
 <form class="box"  action="zayavka.html" method="post">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">

    </form>
    <div class ="button">
        <a href="{% url 'lower' %}">
          <button class="button-19" role="button">Далее</button>
      </a>
</div>

 </div>
</body>
</html>