{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kriterii</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="bg5"></div>
    
    <div class ="text1">
    <h1>1. Актуальность и значимость темы(0-15б)</h1>
    </div>
    <div class ="text2">
    <h1>2. Цельность (нравственность) замысла, 
    преследующего прогрессивный
характер последствий публикации, передачи
(0-10б)</h1>
    </div>
    
    <div class ="text3">
    <h1>3. Аргументированность и глубина раскрытия темы(0-15б)</h1>
   </div>
       
      <div class ="text4">
    <h1>4. Резонансность материала(0-10б)</h1>
 </div>
      
       <div class ="text5">
    <h1>5. Точность и доходчивость языка и стиля изложения, своеобразие
методов журналистского творчества
(0-15б)</h1>
 </div>
       
        <div class ="text6">
    <h1>6. Профессионально-этический подход(0-10б)</h1>
 </div>
        
         <div class ="text7">
    <h1>7. Доступность подачи (0-10б)</h1>
 </div>
          <div class ="text8">
    <h1>8. Цикл материалов в различных жанрах (если речь идет не о подборке
материалов одного жанра) (0-15б)</h1>
 </div>
 
 <div class="footer">
 <form class="box"  action="zayavka.html" method="post">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">
    <input type="text1" name="" placeholder="">

    </form>
    <div class ="button"><!-- HTML !-->
<button class="button-19" role="button">Далее</button>


</div>

 </div>
</body>
</html>