{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lk</title>
    <link rel="stylesheet" href="{% static 'css/bg3.css' %}">
</head>
<body>
    <div class="bg3"></div>
    <form class="box"  action="zayavka.html" method="post">
    <h1>Данные пользователя</h1>
    <input type="text1" name="" placeholder="ФИО">
    <input type="Password1" name="" placeholder="О себе">
    <input type="Password1" name="" placeholder="О работе">
    <input type="submit1" name="" value="Ссылка на работу">
    
    
    <input type="submit2" name="" value="На главную">
   


</form>
        <div class = "text">
        <h1><p style="color:#684107;">Личный кабинет</p></h1>
    </div>
</body>
</html>

{% endblock %}