{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lk</title>
    <link rel="stylesheet" href="{% static 'css/bg3.css' %}">
</head>
<body>
    <div class="bg3"></div>
    <form class="box"  action="zayavka.html" method="post">
    <h1>Данные пользователя</h1>

    {% csrf_token %}

    <input type="text1" name="" placeholder="Фио: {{ user.fio }}">
    <input type="text1" name="" placeholder="Тема работы: {{ user.theme }}">
    <input type="text1" name="" value="Ваши баллы: 0 (ваша работа пока не оценена)">

    <a href="{% url 'end' %}">
        <input type="submit1" name="" value="Результаты конкурса">
    </a>

    <a href="{% url 'home' %}">
        <input type="submit2" name="" value="На главную">
    </a>

</form>
        <div class = "text">
        <h1><p style="color:#684107;">Личный кабинет</p></h1>
    </div>
</body>
</html>

{% endblock %}