{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lk admin</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="bg3"></div>
    <form class="box"  action="lk admin.html" method="post">
    <h1>Эксперт</h1>
    <input type="text1" name="" placeholder="ФИО">
    <input type="Password1" name="" placeholder="О себе">
    
    
    <input type="submit1" name="" value="Приступить к проверке">
   


</form>
        <div class = "text">
        <h1><p style="color:#684107;">Личный кабинет</p></h1>
    </div>
</body>
</html>

{% endblock %}