{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ozenka</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <div class="bg3"></div>
    <form class="box"  action="ozenka.html" method="post">
    <h1>Эксперт</h1>
    <input type="text1" name="" placeholder="Автор">
    <input type="text1" name="" placeholder="должность и место работы">
    <input type="text1" name="" placeholder="Тема">
    <input type="text1" name="" placeholder="Аннотация">
    <input type="text1" name="" placeholder="Cсылка на работу">
    <input type="submit1" name="" value="Оценить работу">



</form>
        <div class = "text">
        <h1><p style="color:#684107;">Личный кабинет</p></h1>
    </div>
</body>
</html>
