{% load static %}

<html>
  <head>
    <title>spisok rabot</title>
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">

<style>
.prokrutka {
height: cover; /* высота нашего блока */
width: cover; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow-x: scroll; /* прокрутка по горизонтали */
overflow-y: scroll; /* прокрутка по вертикали */
}
</style>

  </head>

  <body>
  <div class="bg7">
      
  </div>

    <form class="box" method="post">
    <div class="text">       
  <h1>Списки работ</h1>
    </div>

    {% csrf_token %}

  <a href="{% url 'bidsdv' %}">
    <input type="submit" name="" value="Работа">
  </a>



    {{ form.errors }}

    </form>
     
  </body>
</html>