{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подача заявки</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<form class="box" method="post">
    <h1>Подача заявки</h1>
    {% csrf_token %}
    <input type="text" name="" placeholder="Логин">
    <input type="Password" name="" placeholder="Пароль">
    <input type="text" name="" placeholder="ФИО">
    <input type="text" name="" placeholder="Место работы и должность">
    <input type="text" name="" placeholder="Тема и аннотация">
    <input type="text" name="" placeholder="Ссылка на материал">
    {{ form.errors }}
    <a href="{% url 'home' %}">
        <input type="submit" name="" value="Принять участие">
    </a>
</form>

 <div class="background2">

    </div>

</body>
</html>

{% endblock %}